## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\alipe\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts=application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_value = application_df['CLASSIFICATION'].value_counts()
classification_value

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = classification_value[classification_value>1]
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value [classification_value<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y=application_df['IS_SUCCESSFUL'].values
X=application_df.drop('IS_SUCCESSFUL', axis=1).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 10
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\alipe\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                1500

 dense_1 (Dense)             (None, 10)                310

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1821 (7.11 KB)
Trainable params: 1821 (7.11 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\alipe\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\alipe\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\alipe\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

684/684 [==============================] - 1s 938us/step - loss: 0.6027 - accuracy: 0.6949 - val_loss: 0.5497 - val_accuracy: 0.7375
Epoch 2/100
684/684 [==============================] - 0s 674us/step - loss: 0.5563 - accuracy: 0.7291 - val_loss: 0.5446 - val_accuracy: 0.7378
Epoch 3/100
684/684 [==============================] - 0s 673us/step - loss: 0.5519 - accuracy: 0.7302 - val_loss: 0.5450 - val_accuracy: 0.7393
Epoch 4/100
684/684 [==============================] - 0s 672us/step - loss: 0.5504 - accuracy: 0.7319 - val_loss: 0.5462 - val_accuracy: 0.7367
Epoch 5/100
684/684 [==============================] - 1s 796us/step - loss: 0.5487 - accuracy: 0.7324 - val_loss: 0.5447 - val_accuracy: 0.7313
Epoch 6/100
684/684 [==============================] - 1s 745us/step - loss: 0.5477 - accuracy: 0.7333 - val_loss: 0.5427 - val_accuracy: 0.7354
Epoch 7/100
684/684 [==============================] - 1s 802us/step - loss: 0.5469 - accuracy: 0.7330 - val_loss: 0.5432 - val_accuracy: 0.7359
Epoch 8/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7330 - val_loss: 0.5423 - val_accuracy: 0.7354
Epoch 9/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7332 - val_loss: 0.5431 - val_accuracy: 0.7362
Epoch 10/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7338 - val_loss: 0.5427 - val_accuracy: 0.7378
Epoch 11/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7327 - val_loss: 0.5420 - val_accuracy: 0.7375
Epoch 12/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7338 - val_loss: 0.5427 - val_accuracy: 0.7349
Epoch 13/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7333 - val_loss: 0.5405 - val_accuracy: 0.7367
Epoch 14/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7338 - val_loss: 0.5432 - val_accuracy: 0.7359
Epoch 15/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7351 - val_loss: 0.5413 - val_accuracy: 0.7354
Epoch 16/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7335 - val_loss: 0.5445 - val_accuracy: 0.7370
Epoch 17/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7343 - val_loss: 0.5451 - val_accuracy: 0.7305
Epoch 18/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7347 - val_loss: 0.5410 - val_accuracy: 0.7367
Epoch 19/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7344 - val_loss: 0.5427 - val_accuracy: 0.7362
Epoch 20/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7340 - val_loss: 0.5438 - val_accuracy: 0.7357
Epoch 21/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7335 - val_loss: 0.5419 - val_accuracy: 0.7362
Epoch 22/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7349 - val_loss: 0.5439 - val_accuracy: 0.7336
Epoch 23/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7336 - val_loss: 0.5442 - val_accuracy: 0.7370
Epoch 24/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7345 - val_loss: 0.5444 - val_accuracy: 0.7354
Epoch 25/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7349 - val_loss: 0.5467 - val_accuracy: 0.7346
Epoch 26/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7354 - val_loss: 0.5433 - val_accuracy: 0.7315
Epoch 27/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7344 - val_loss: 0.5418 - val_accuracy: 0.7354
Epoch 28/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7349 - val_loss: 0.5428 - val_accuracy: 0.7365
Epoch 29/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7354 - val_loss: 0.5423 - val_accuracy: 0.7378
Epoch 30/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7351 - val_loss: 0.5438 - val_accuracy: 0.7362
Epoch 31/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7356 - val_loss: 0.5436 - val_accuracy: 0.7362
Epoch 32/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7352 - val_loss: 0.5434 - val_accuracy: 0.7346
Epoch 33/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7352 - val_loss: 0.5438 - val_accuracy: 0.7365
Epoch 34/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7346 - val_loss: 0.5446 - val_accuracy: 0.7349
Epoch 35/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7351 - val_loss: 0.5419 - val_accuracy: 0.7362
Epoch 36/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7346 - val_loss: 0.5447 - val_accuracy: 0.7359
Epoch 37/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7353 - val_loss: 0.5435 - val_accuracy: 0.7362
Epoch 38/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7349 - val_loss: 0.5474 - val_accuracy: 0.7362
Epoch 39/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7349 - val_loss: 0.5432 - val_accuracy: 0.7375
Epoch 40/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7344 - val_loss: 0.5431 - val_accuracy: 0.7365
Epoch 41/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7360 - val_loss: 0.5435 - val_accuracy: 0.7375
Epoch 42/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7360 - val_loss: 0.5444 - val_accuracy: 0.7354
Epoch 43/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7354 - val_loss: 0.5437 - val_accuracy: 0.7318
Epoch 44/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7348 - val_loss: 0.5447 - val_accuracy: 0.7378
Epoch 45/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7354 - val_loss: 0.5451 - val_accuracy: 0.7365
Epoch 46/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7354 - val_loss: 0.5423 - val_accuracy: 0.7380
Epoch 47/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7367 - val_loss: 0.5438 - val_accuracy: 0.7372
Epoch 48/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7358 - val_loss: 0.5434 - val_accuracy: 0.7365
Epoch 49/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7369 - val_loss: 0.5463 - val_accuracy: 0.7318
Epoch 50/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7350 - val_loss: 0.5420 - val_accuracy: 0.7380
Epoch 51/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7362 - val_loss: 0.5447 - val_accuracy: 0.7336
Epoch 52/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7364 - val_loss: 0.5433 - val_accuracy: 0.7339
Epoch 53/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7365 - val_loss: 0.5428 - val_accuracy: 0.7341
Epoch 54/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7361 - val_loss: 0.5453 - val_accuracy: 0.7372

Epoch 55/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7361 - val_loss: 0.5444 - val_accuracy: 0.7375
Epoch 56/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7369 - val_loss: 0.5435 - val_accuracy: 0.7375
Epoch 57/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7360 - val_loss: 0.5439 - val_accuracy: 0.7359
Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7357 - val_loss: 0.5441 - val_accuracy: 0.7375
Epoch 59/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7359 - val_loss: 0.5467 - val_accuracy: 0.7331
Epoch 60/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7362 - val_loss: 0.5432 - val_accuracy: 0.7378
Epoch 61/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7368 - val_loss: 0.5446 - val_accuracy: 0.7352
Epoch 62/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7363 - val_loss: 0.5424 - val_accuracy: 0.7383
Epoch 63/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7375 - val_loss: 0.5435 - val_accuracy: 0.7331
Epoch 64/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7362 - val_loss: 0.5421 - val_accuracy: 0.7375
Epoch 65/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7366 - val_loss: 0.5423 - val_accuracy: 0.7367
Epoch 66/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7372 - val_loss: 0.5441 - val_accuracy: 0.7367
Epoch 67/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7367 - val_loss: 0.5436 - val_accuracy: 0.7378
Epoch 68/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7360 - val_loss: 0.5444 - val_accuracy: 0.7370
Epoch 69/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7362 - val_loss: 0.5423 - val_accuracy: 0.7378
Epoch 70/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7362 - val_loss: 0.5413 - val_accuracy: 0.7375
Epoch 71/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7366 - val_loss: 0.5424 - val_accuracy: 0.7372
Epoch 72/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7364 - val_loss: 0.5420 - val_accuracy: 0.7367
Epoch 73/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7367 - val_loss: 0.5433 - val_accuracy: 0.7357
Epoch 74/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7360 - val_loss: 0.5423 - val_accuracy: 0.7370
Epoch 75/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7368 - val_loss: 0.5446 - val_accuracy: 0.7380
Epoch 76/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7370 - val_loss: 0.5438 - val_accuracy: 0.7341
Epoch 77/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7363 - val_loss: 0.5469 - val_accuracy: 0.7336
Epoch 78/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7349 - val_loss: 0.5421 - val_accuracy: 0.7375
Epoch 79/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7373 - val_loss: 0.5418 - val_accuracy: 0.7383
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7373 - val_loss: 0.5446 - val_accuracy: 0.7367
Epoch 81/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7363 - val_loss: 0.5427 - val_accuracy: 0.7380
Epoch 82/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7374 - val_loss: 0.5433 - val_accuracy: 0.7349
Epoch 83/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7375 - val_loss: 0.5427 - val_accuracy: 0.7375
Epoch 84/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7372 - val_loss: 0.5419 - val_accuracy: 0.7375
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7369 - val_loss: 0.5439 - val_accuracy: 0.7367
Epoch 86/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7366 - val_loss: 0.5439 - val_accuracy: 0.7372
Epoch 87/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7372 - val_loss: 0.5425 - val_accuracy: 0.7383
Epoch 88/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7376 - val_loss: 0.5430 - val_accuracy: 0.7362
Epoch 89/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7382 - val_loss: 0.5423 - val_accuracy: 0.7367
Epoch 90/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7373 - val_loss: 0.5413 - val_accuracy: 0.7352
Epoch 91/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7364 - val_loss: 0.5440 - val_accuracy: 0.7370
Epoch 92/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7369 - val_loss: 0.5421 - val_accuracy: 0.7367
Epoch 93/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7373 - val_loss: 0.5435 - val_accuracy: 0.7362
Epoch 94/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7368 - val_loss: 0.5424 - val_accuracy: 0.7367
Epoch 95/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7374 - val_loss: 0.5418 - val_accuracy: 0.7375
Epoch 96/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7367 - val_loss: 0.5422 - val_accuracy: 0.7383
Epoch 97/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7376 - val_loss: 0.5436 - val_accuracy: 0.7391
Epoch 98/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7377 - val_loss: 0.5412 - val_accuracy: 0.7378
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7374 - val_loss: 0.5412 - val_accuracy: 0.7398
Epoch 100/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7372 - val_loss: 0.5458 - val_accuracy: 0.7362

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5561 - accuracy: 0.7321 - 220ms/epoch - 819us/step
Loss: 0.5560778975486755, Accuracy: 0.7321282625198364

In [1]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Original.h5')
files.download('/content/AlphabetSoupCharity_Original.h5')

ModuleNotFoundError: No module named 'termios'